<footer class="px-6 md:px-12 py-6 bg-[#111] text-gray-400 flex flex-col md:flex-row justify-between items-center gap-4">
  <p class="text-sm">© {new Date().getFullYear()} Jendevelopez. Todos los derechos reservados.</p>
  <div class="flex gap-4">
    <a class="hover:text-yellow-400" href="https://github.com/jenDevelopez" target="_blank">GitHub</a>
    <a class="hover:text-yellow-400" href="whttps://www.linkedin.com/in/jendevelopez" target="_blank">LinkedIn</a>
  </div>
</footer>


