<!-- NAVBAR -->
<header
  class="fixed top-0 left-0 w-full border-b-2 border-yellow-500 bg-yellow-50 dark:bg-[#181818]/90 backdrop-blur-md z-50"
>
  <nav class="flex justify-between items-center px-6 md:px-12 py-4">
    <a href="/" class="font-bold text-xl text-yellow-500">JL.Dev</a>

    <!-- Botón hamburguesa móvil -->
    <button id="menu-btn" class="md:hidden flex flex-col gap-1">
      <span class="w-6 h-0.5 bg-black dark:bg-white"></span>
      <span class="w-6 h-0.5 bg-black dark:bg-white"></span>
      <span class="w-6 h-0.5 bg-black dark:bg-white"></span>
    </button>

    <!-- Menú escritorio -->
    <ul id="menu" class="hidden md:flex gap-8 text-sm font-medium">
      <li><a href="#about" class="hover:text-yellow-500">About</a></li>
      <li><a href="#resume" class="hover:text-yellow-500">Resume</a></li>
      <li><a href="#projects" class="hover:text-yellow-500">Projects</a></li>
      <li><a href="#contact" class="hover:text-yellow-500">Contact</a></li>
      <li>
        <button
          id="theme-toggle"
          class="ml-4 px-3 text-sm flex items-center gap-2"
        >
          <span id="theme-icon">🌙</span>
        </button>
      </li>
    </ul>
  </nav>

  <!-- Menú móvil -->
  <div
    id="mobile-menu"
    class="hidden md:hidden flex-col items-center gap-6 px-6 py-6 bg-yellow-50 dark:bg-[#1A1A1A] text-lg"
  >
    <a href="#about" class="hover:text-yellow-500">About</a>
    <a href="#resume" class="hover:text-yellow-500">Resume</a>
    <a href="#projects" class="hover:text-yellow-500">Projects</a>
    <a href="#contact" class="hover:text-yellow-500">Contact</a>

   <button
          id="theme-toggle-mobile"
          class=" px-3 text-sm flex items-center gap-2"
        >
          <span id="theme-icon-mobile">🌙</span>
        </button>
  </div>
</header>
