<!-- NAVBAR -->
<header
  class="fixed top-0 left-0 w-full shadow-sm shadow-grey-800 bg-[#FFC300] dark:bg-[#181818]/90 backdrop-blur-md z-50"
>
  <nav class="flex justify-between items-center px-6 md:px-12 py-4">
    <a href="/" class="font-bold text-xl text-black">JL.Dev</a>

    <!-- Botón hamburguesa móvil -->
    <button id="menu-btn" class="md:hidden flex flex-col gap-1">
      <span class="w-6 h-0.5 bg-black dark:bg-white"></span>
      <span class="w-6 h-0.5 bg-black dark:bg-white"></span>
      <span class="w-6 h-0.5 bg-black dark:bg-white"></span>
    </button>

    <!-- Menú escritorio -->
    <ul id="menu" class="hidden md:flex gap-8 text-sm font-medium md:text-lg">
      <li><a href="#about" class="hover:text-yellow-50">Sobre mi</a></li>
      <li><a href="#resume" class="hover:text-yellow-50">Trayectoria</a></li>
      <li><a href="#projects" class="hover:text-yellow-50">Proyectos</a></li>
      <li><a href="#contact" class="hover:text-yellow-50">Contacto</a></li>
      <li>
        <button
          id="theme-toggle"
          class="ml-4 px-3 text-lg flex items-center gap-2 bg-gray-950 rounded-full"
        >
          <span id="theme-icon">🌙</span>
        </button>
      </li>
    </ul>
  </nav>

  <!-- Menú móvil -->
  <ul
    id="mobile-menu"
    class="hidden md:hidden flex-col items-center py-6 gap-4 bg-[#FFC300] dark:bg-[#1A1A1A] text-lg"
  >
    <li
      class="hover:border-b-2 hover:border-yellow-50 w-full px-6 py-2 flex justify-center"
    >
      <a href="#about">Sobre mi</a>
    </li>
    <li
      class="w-full hover:border-b-2 hover:border-yellow-50 px-6 py-2 flex justify-center"
    >
      <a href="#resume">Trayectoria</a>
    </li>
    <li
      class="w-full hover:border-b-2 hover:border-yellow-50 px-6 py-2 flex justify-center"
    >
      <a href="#projects">Proyectos</a>
    </li>
    <li
      class="w-full hover:border-b-2 hover:border-yellow-50 px-6 py-2 flex justify-center"
    >
      <a href="#contact" class="hover:text-yellow-50">Contacto</a>
    </li>

    <button
      id="theme-toggle-mobile"
      class="px-3 text-lg flex items-center gap-2 bg-gray-950 rounded-full"
    >
      <span id="theme-icon-mobile">🌙</span>
    </button>
  </ul>
</header>
