<section id="resume" class="px-6 md:px-12 py-20">
    <h2 class="text-3xl font-bold mb-8 text-center">Resume</h2>
    <div class="grid md:grid-cols-2 gap-12">
        Experiencia
        <div>
            <h3 class="text-xl font-semibold">Experience</h3>
            <ul class="mt-4 space-y-4 dark:text-gray-300 text-sm md:text-base">
                <li>
                    <strong>Desarrolladora Web</strong> - Factoría Creativa (2024
                    - 2025)
                    <br /> Desarrollo y mantenimiento de sitios WordPress.
                </li>
                <li>
                    <strong>Desarrollo Ecommerce</strong> - Xlab com (2024)
                    <br /> Mantenimiento de ecommerce con WooCommerce, usando Agile.
                </li>
                <li>
                    <strong>Desarrolladora Web</strong> - Anima animalis (2022)
                </li>
            </ul>
        </div>
        Educación
        <div>
            <h3 class="text-xl font-semibold">Education</h3>
            <ul class="mt-4 space-y-4 dark:text-gray-300 text-sm md:text-base">
                <li><strong>Python & Django</strong> - Actualmente</li>
                <li><strong>IA y Productividad</strong> - Google (2025)</li>
                <li><strong>CP3 Creación apps web</strong> - Nascor (2024)</li>
                <li><strong>React Bootcamp</strong> - IT Academy (2023)</li>
                <li>
                    <strong>CP2 Creación páginas web</strong> - Aspasia (2022)
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <a
            href="../../public/dev_jennifer_lopez.pdf"
            download
            class="mt-8 inline-block px-6 py-3 bg-yellow-400 text-black font-semibold rounded-lg shadow hover:bg-yellow-300"
        >
            Descargar CV
        </a>
    </div>
</section>
